// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$zin_brown: #230903;
$anti_f_white: #F2F4F3;
$my_white: #FBFCFF;
$floral_white: #F9FBF2;
$alabaster: #F3EFE0;
$white_smoke: #F7F7F2;
$union_white: #f8f7f1;
$union_card: #FFFFFF;

$vanille_yellow: #FFFF42;
