<div class="card mkflr_card">
  <div class="mkflr_card_image">
    <div class="mkflr_card_price d-flex justify-content-center align-items-center">
      15 лв.
    </div>
  </div>
  <div class="mkflr_card_colour"></div>
  <div class="mkflr_card_infos">
    <div class="mkflr_button_quickbuy">
      Бърза покупка
    </div>
    <div class="mkflr_buy_controls d-flex justify-content-center align-items-center">
      <div class="mkflr_radios_decre p-2 d-flex justify-content-start">
        <%= link_to "", class: "" do %>
          <i class="fas fa-minus"></i>
        <% end %>
      </div>
      <div class="mkflr_quantity d-flex justify-content-center align-items-center">
        4
      </div>
      <div class="mkflr_radios_incre p-2 d-flex justify-content-end">
        <%= link_to "", class: "" do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
      <div class="mkflr_add_to_cart_light ml-auto p-2">
        добави в <i class="fas fa-shopping-cart"></i>
      </div>
    </div>
  </div>
</div>
