<!-- found at https://mdbootstrap.com/docs/jquery/javascript/carousel/ -->
<!-- Carousel Wrapper -->
<div id="carousel-example-2" class="carousel" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <%= image_tag "home_hero.jpg", class: "d-block w-100", alt: "First slide"%>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
