<div class="card">
  <div class="mkflr_card_image">
    <div class="mkflr_card_price d-flex justify-content-center align-items-center">
      15 лв.
    </div>
  </div>
  <div class="mkflr_card_colour"></div>
  <div class="mkflr_card_infos justify-content-center align-items-center">
    <div class="mkflr_button_quickbuy justify-content-center align-items-center align-self-center">
      Бърза покупка
    </div>
    <div class="mkflr_buy_controls d-flex justify-content-around">
      <div class="mkflr_radios_light"></div>
      <div class="mkflr_add_to_cart_light justify-content-center align-items-center">
        добави в кол.
      </div>
    </div>
  </div>
</div>
