<div class="wrapper mkflr_footer d-flex justify-content-between">
    <div class="mkflr_footer_left d-flex justify-content-between align-items-center mr-auto">
      <div class="mkflr_footer_tab align-items-center">
        <%= link_to "", class: "" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      </div>
      <div class="mkflr_footer_tab align-items-center">
        <%= link_to "", class: "" do %>
          Контакти
        <% end %>
      </div>
      <div class="mkflr_footer_tab align-items-center">
        <%= link_to "", class: "" do %>
          Условия и <br/>
          "ситен шрифт"
        <% end %>
      </div>
      <div class="mkflr_footer_tab align-items-center">
        <%= link_to "", class: "" do %>
          Доставка
        <% end %>
      </div>
    </div>
    <div class="mkflr_footer_right align-items-center">
        <i class="far fa-copyright"></i> Torrefazione Mokaflor <br/>Srl., Firenze
    </div>
  </div>
</div>
