<div class="mkflr_home_hero hero_image">
  <div class="mkflr_hero_text">
    <h1>Some big trigger moto</h1>
    <p>write some information here about the actual moto</p>
    <button>Button text</button>
  </div>
</div>
