<section class="hero_image">
  <div class="hero_inner">
    <h1>My awesome website</h1>
    <h2>Look at this website and bask in its amazing glory!</h2>
    <a href="https://example.com/" class="btn_hero">Go ahead...</a>
  </div>
</section>
