<div class="newsletter_box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-6">
        <div class="newsletter_call">
          <h3 class="mkflr_newletter_header text-center">стани част от вселената на Мокафлор</h3>
          <p class="mkflr_newletter_para text-center">и ние ще те държим в течение с ценови предложения и новости при кафето</p>
        </div>
        <div class="mkflr_newsletter_form">
          <%= simple_form_for @tocontact, html: { class: "d-flex justify-content-between" } do |f| %>
          <%= f.input_field :email, label: false, error: 'Нужен ни е валиден имейл, за да може да се свържем с Вас ☺️', placeholder: 'user@email.bg', error_html: {}  %>
          <%= f.button :submit, "Запиши се", class: "mkflr_newsletter_btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
