<nav class="navbar navbar-light navbar-expand-xl">

  <div class="mkflr-navbar-operators">
    <div class="mkflr-navbar-menu">
      <%= link_to "#", class: "" do %>
        <i class="fas fa-bars"></i>
      <% end %>
    </div>

<!--.d-none .d-sm-block - Hidden only on xs-->
    <div class="mkflr-tab d-none d-sm-block">
      World of Mokaflor
    </div>
  </div>

  <div class="mkflr-navbar-logo" >
    <%= image_tag "badge.png", class: "", width:"83", height:"50"%>
    <%= image_tag "moto_grey.png", class: "", width:"83", height:"50"%>
  </div>


  <div class="mkflr-navbar-shopping ">
    <!--.d-none .d-sm-block - Hidden only on xs-->
    <div class="mkflr-tab d-none d-sm-block">
      Products
    </div>

    <div class="mkflr-navbar-cart">
      <%= link_to "#", class: "" do %>
        <i class="fas fa-shopping-cart"></i>
      <% end %>
    </div>
  </div>

</nav>
