.mkflr_card {
  margin: 16px 8px 24px 8px;
  -moz-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.65);
  -webkit-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.65);
  box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.65);
  border-radius: 1px;
  position: relative;
}

.mkflr_product_pic{
  img {
  background-size: fit;
  max-width:100%;
  max-height:100%;
  width: auto;
  background-position: center;
  background-color: $union_card;
  padding: 24px 0px;
  }
}

.mkflr_card_colour {
  height: 13vh;
}

.mkflr_card_heading {
  color: $union_card;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 0px;
  // letter-spacing: 1px;
}

.mkflr_card_infos {
  height: 21vh;
}

.mkflr_card_cart_controls{
  margin: 16px 8px 8px 8px;
}

.mkflr_card_cart_controls_decrease{
  i {
    padding:8px;
  }
  flex-grow: 0;
}

.mkflr_card_cart_controls_increase{
  i {
    padding:8px;
  }
  flex-grow: 0;
}

.mkflr_card_cart_controls_btn_quantity {
  border: 1px solid $zin_brown;
  -moz-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  -webkit-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  height: 38px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 48px;
  margin: 0px 4px;
}

.mkflr_card_cart_controls_btn {
  border: 1px solid $zin_brown;
  -moz-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  -webkit-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0px 8px;
}

.mkflr_card_price {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid;
  -moz-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.23);
  -webkit-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.23);
  box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.23);
  // background-color:$union_card;
  // color: $my_white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  text-align: center;

  p {
    margin: 0px;
    font-size: 16px;
    text-align: center;
    line-height: 1.1;
  }
}

.mkflr_card_infos_or_text{
  margin: 0px;
  text-align: center;
}

.mkflr_card_infos_learn_more_btn{
  -moz-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  -webkit-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.77);
  border-radius: 1px;
  margin: 16px;
  margin-top: 8px;
  padding: 8px;
  text-align: center;
  color: $union_card;
  a {
    color: $union_card;
    text-decoration: none;
    padding: 8px 48px;
  }
  a:visited {
    color: $union_card;
  }
}
