.mkflr_card {
  margin: 16px 8px 24px 8px;
  -moz-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.65);
  -webkit-box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.65);
  box-shadow: 2px 2px 7px 3px rgba(196,196,196,0.65);
  border-radius: 1px;
  position: relative;
}

.mkflr_product_pic{
  img {
  background-size: fit;
  max-width:100%;
  max-height:100%;
  width: auto;
  background-position: center;
  background-color: $union_card;
  padding: 24px 0px;
  }
}

.mkflr_card_infos {
  height: 21vh;
}

.mkflr_card_colour {
  height: 13vh;
}

.mkflr_card_heading {
  color: $union_card;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  // letter-spacing: 1px;
}

.mkflr_buy_controls {
  margin: 16px;
  margin-top: 0px;
}

.mkflr_card_cart_controls_btn {
  border: 1px solid $zin_brown;
  margin-left: 16px;
}

.mkflr_card_cart_controls_btn_quantity {
  padding:5px;
  border: 1px solid $zin_brown;
}

.mkflr_card_cart_controls{
  margin: 16px;
}

.mkflr_quantity {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:$zin_brown;
  color: $my_white;
  font-family: 'Caveat', cursive;
  font-weight: 500;
}

.mkflr_card_price {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid;
  // background-color:$union_card;
  // color: $my_white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  text-align: center;

  p {
    margin: 0px;
    font-size: 16px;
    text-align: center;
    line-height: 1.1;
  }
}
