.mkflr_footer {

  background-color: #F9FBF2;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 72px;

  i {
      margin: 8px;
      padding:8px;
      font-size: 32px;
      font-weight: 300;
  }

  a {
    padding: 8px 16px;
    text-decoration: none !important;
    color: #230903;
    font-weight: 400;
  }

  a:hover{
    font-weight: 900;
  }

  a:first-of-type{
    padding-right: 4px;
    padding-left: 4px;
  }

}

.mkflr_footer_tab {
  color: #230903;
  opacity: 0.67;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 20px;
  text-align: center;

  a {
    i {
      font-size: 32px !important;
      font-weight: 500;
    }
  }

  a:visited{
    text-decoration: none !important;
    color: #230903;
    i {
      font-weight: 700;
    }
  }

  a:hover{
    text-decoration: none !important;
    color: #230903;
    i {
      font-weight: 700;
    }
  }
}

.mkflr_footer_right {
  color: #230903;
  text-align: center;
  padding:8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 12px;

  i {
    font-weight: 300;
    font-size: 12px;
    margin: 0px;
  }
}
