.mkflr-navbar {
  background-color: #FBFCFF;
  color: #230903;
  i {
    margin: 8px;
  }
  a {
    color: #230903;
  }
  a:visited{
    text-decoration: none !important;
    color: #230903;
  }
  a:hover{
    opacity: 0.67;
    text-decoration: none !important;
  }
  padding: 8px 24px;
}

.mkflr-tab {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  font-weight: 300;
  margin: 0px 8px;
}

.mkflr-icon {
  font-size: 24px;
}

.mkflr-navbar-cart {
  // border-radius: 5px;
  // border: 1px solid #230903;
  a {
    padding-right:2px
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
