<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="mkflr_show_highlight_pic"></div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="mkflr_show_highlight_info"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="mkflr_show_description"></div>
    </div>
  </div>
</div>
