.mkflr_cart_header{
  h1{
    font-family: 'Caveat', cursive;
    margin: 0px;
  }
}

.mkflr_cart_top_line {
  margin: 32px;
  border: 1px solid $zin_brown;
  opacity: 0.23;
}

.mkflr_cart_bottom_line {
  margin: 32px;
  border: 1px solid $zin_brown;
  opacity: 0.23;
}
